@import url(font-awesome.min.css);
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format("ttf");
  src: url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf")
    format("ttf");
}
* {
  margin: 0;
}
body {
  font-family: "Raleway" !important;
  color: #444;
}
.header {
  background-image: url(../img/dark_tint.png),
    url(../img/bokeh_car_lights_bg.jpg);
  background-position: center center;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #fff;
}
.header h1 {
  float: left;
  font-size: 1.5vw;
}
.header h1:hover {
  border-bottom: 2px solid #ffffff;
}
.nav {
  text-align: right;
}
.nav ul li {
  /* list-style-type: none; */
  display: inline;
  padding: 0 15px;
}
.nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease-in-out;
  font-size: 2vw;
}
.nav ul li a:hover {
  color: floralwhite;
}
.top-menu {
  padding: 40px;
}
.top-menu .nav ul li button[type="submit"] {
  transition: color 0.3s ease-in-out;
}
.top-menu .nav ul li button[type="submit"]:hover {
  color: #111111;
}

/* Design of Buttons start */
.btn {
  padding: 10px 20px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-size: 1.2vw;
  text-align: center;
  color: #ffffff;
  font-family: "Raleway" !important;
}
.btn-big {
  font-size: 1.9vw !important;
  padding: 16px 36px !important;
}
.btn-blue {
  color: #ffffff !important;
  background-color: #3cadd4;
}
.btn-gray {
  background-color: #fff;
  color: rgb(112, 106, 106);
}
.btn-dark {
  background-color: #383b43;
  color: #ffffff !important;
}
/* Design of Buttons /end */

.banner-content {
  color: #ffffff;
  text-align: center;
  padding: 140px 0;
}
.banner-content h2 {
  font-size: 5vw;
}
.banner-content p {
  font-size: 1.5vw;
  line-height: 80px;
}
.banner-content button[type="submit"]:hover {
  background-color: #51b6d9;
}
.banner-content button[type="submit"]:active {
  background-color: #2da2ca;
}
/* Start design main --> */
.services {
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(144, 144, 144, 0.25);
  border-top: 1px solid rgba(144, 144, 144, 0.25);
  padding: 100px 0;
  text-align: center;
}
.services-header {
  margin-bottom: 60px;
}
.services-header h2 {
  font-size: 3.4vw;
  color: #474747;
  margin-bottom: 14px;
}
.services-header p {
  font-size: 1.8vw;
  color: #858585;
}
.services-content > * {
  float: left;
}
.box {
  padding: 65px 36px;
  width: calc(calc(100% / 3) - 134px);
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  margin: 0 30px;
}
.icon:before {
  font-family: FontAwesome;
  font-style: normal;
}

.color-blue {
  background-color: #3cadd4;
  color: #ffffff;
}
.color-green {
  background-color: #add43c;
  color: #ffffff;
}
.color-red {
  background-color: #d43c61;
  color: #ffffff;
}
.big {
  font-size: 35px;
  padding: 35px 38px;
}
.rounded {
  border-radius: 100%;
}
.services-content:before,
.services-content:after {
  content: "";
  display: block;
  clear: both;
}
.box h4 {
  margin: 60px 0 25px 0;
  color: #858585;
  font-size: 1.5vw;
}
.box p {
  line-height: 25px;
  font-size: 1vw;
}
.services-content {
  width: 95%;
  margin: 0 auto;
}
@media only screen and (max-width: 835px) {
  .box {
    width: 100%;
    padding: 50px 0;
    margin: 10px 0;
  }
}
/* <-- the end  design main  */

/* start about --> */
.about {
  text-align: center;
}
.about-header {
  padding: 70px 0;
}
.about-header h2 {
  font-size: 4vw;
  color: #474747;
}
.about-header p {
  font-size: 1.8vw;
  color: #858585;
}
.about-content {
  border-bottom: 1px solid rgba(144, 144, 144, 0.25);
  border-top: 1px solid rgba(144, 144, 144, 0.25);
  padding: 60px 0;
  margin: 0 auto; /* برای اینکه محتویات پروفایل وسط قرار بگیرن auto*/
  width: 90%;
}
.about-content > * {
  float: left;
}
.about-content:before,
.about-content:after {
  content: "";
  display: block;
  clear: both;
}
.profile {
  width: calc(100% / 4);
  /* width: 25%; */
}
.profile img {
  float: left;
  border-radius: 50%;
}
.profile h4 {
  margin-top: 20px;
  font-size: 1.7vw;
}
.profile p {
  line-height: 25px;
  font-size: 1.5vw;
}
@media only screen and (max-width: 900px) {
  .profile {
    width: calc(100% / 2);
    /* width: 50%; */
    margin: 10px 0;
    text-align: left;
  }
  .profile h4 {
    margin-left: 110px;
  }
  .profile p {
    margin-left: 110px;
  }
}
@media only screen and (max-width: 400px) {
  .profile {
    width: calc(100% / 1);
    /* width: 100%; */
    margin: 10px 0;
    text-align: left;
  }
  .profile h4 {
    margin-left: 110px;
  }
  .profile p {
    margin-left: 110px;
  }
}

.about-footer {
  padding: 50px;
  width: 65%;
  margin: 0 auto;
}
.about-footer p {
  color: #444;
  font-size: 1.2vw;
  margin: 20px;
}
.about-footer button {
  margin-top: 20px;
}
/* .main .about .profils .row > * {
  float: left;
}
.main .about .profils .row:after,
.main .about .profils .row:before {
  content: "";
  display: block;
  clear: both;
}

.profile{
  width:calc(100%/4) ;
  
}
.main .about .profils .row{
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.main .about .profils .row .profile img{
  border-radius: 100%;
  vertical-align: top;
} */

/* <-- end about */

/* start contact -->*/
.contact {
  background-color: #3cadd4;
  padding: 110px;
}
.contact-header {
  color: #ffffff;
  text-align: center;
  margin-bottom: 80px;
}
.contact-header h2 {
  font-size: 4vw;
  margin-bottom: 15px;
}
.contact-header p {
  font-size: 2vw;
}
.contact-content{
  text-align: center;
}
input[type="text"],
input[type="email"] {
  background-color: #fff;
  color: #444;
  border: 0;
  border-radius: 4px;
  width: 25%;
  padding: 15px 15px;
  font-family: "Raleway" !important;
  
  margin-bottom: 20px;
}
input[type="email"] {
  margin-left: 10px;
}
textarea{
  background-color: #fff;
  color: #444;
  border: 0;
  border-radius: 4px;
  padding: 10px 38px;
  width: 50%;
  height: 200px;
  font-family: "Raleway" !important;
}
.contact-content button{
  margin-top: 15px;
}
::placeholder{
  color: #858585;
  font-family: "Raleway"!important;
  font-size: 20px;
}
/*<-- end contact*/
/*start footer -->*/
.footer{
  text-align: center;
  padding: 80px;
  background-color: #383b43;
}
.copyright li{
  color:#858585;
  display: inline;
  font-size: 20px;
  padding: 0 50px;
}